.boxslider{
    border: solid 3px black;
    height: 500px;
    width: 600px;
    text-align: center;
    background-color: blanchedalmond;
}

.information{
    border: solid 3px black;
    
}

.contact{
    border:solid 3px red;
    float: left;
    
}

.showinfo{
    border:solid 3px red;
    width: 550px;
    height: 400px;
    float: left;
}

.slider{
    width: 550px;
    height: 150px;

}

.headpic{

    height: 300px;
    width: 500px;
}

.pic{
    width: 100px;
    height: 100px;
    border: solid 1px black;
}

